<!-- app/main-game/main-game.page.html -->
<ion-content class="ion-no-padding">
  <div class="img-login" id="gameContainer">
    <div class="game-overlay">
      <div class="menu-buttons">
        <ion-title class="game-title">
          <a href="javascript:void(0)" class="menu-button" (click)="startGame()">Empezar</a>
        </ion-title>
        <ion-title class="game-title">
          <a href="javascript:void(0)" class="menu-button" (click)="showOptions()">Opciones</a>
        </ion-title>
        <ion-title class="game-title">
          <a href="javascript:void(0)" class="menu-button" (click)="logout()">Salir</a>
        </ion-title>
      </div>
    </div>
  </div>
</ion-content>
